<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add a Product</title>
</head>
<body>
<form action="/createProduct" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" name="productName" /> </td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="text" name="price" /> </td>
        </tr>
        <tr>
            <td>Product Type:</td>
            <td>
            <select name="productType" id="proType" required="required">
                <option value="" selected="selected" disabled="disabled">---select Product Type ---</option>
                <option th:each="p : ${productTypes}" th:value="${p}" th:text="${p}"></option>
            </select>
            </td>
        </tr>
    </table>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>