<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title></title>
</head>
<body><h1>List of Users</h1>
<a th:href="@{/addPerson}">Create Person</a>
<a href="#" th:onclick="'javascript:listUsers()'">List Users</a>

<!-- consume REST service using JQuery -->
<div style="display: none;" class="userList">
    <table>
        <thead>
        <tr><th>Name</th><th>Email</th><th>Phone</th><th>Address</th></tr>
        </thead>
        <tbody id="usersList"></tbody>
    </table>
</div>
<script>
    function listUsers() {
        $.ajax({
            url:"/person",
            method:"get",
            success:function (data) {
                var users = "";
                $.each(data, function (key, value) {
                    users += "<tr>"+
                        "<td>"+value.firstName+ " " + value.lastName+"</td>"+
                        "<td>"+value.email+"</td>"+
                        "<td>"+value.phone+"</td>"+
                        "<td>"+value.address.city+ " " + value.address.state+ " " + value.address.country+"</td>"+
                        "</tr>";
                });
                $("#usersList").html(users);
                $("#usersList").closest(".userList").show();
            }
        });
    }
</script>

<a th:href="@{/logout}"> Now logout </a>

</body>
</html>